
*{
	padding:0;
	margin: 0;
	box-sizing: border-box; 
}
body{
	font: normal 16px 'Montserrat', sans-serif;
	line-height: 1.6; 
	overflow: hidden;
}
li{
	font-size: 20px;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}

.wrapper{
	width: 100%;
	height:100vh;
	padding-top: 150px;
	background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
	position: relative;
	background-size: 400% 400%;
	animation: change 10s ease-in-out infinite;
	
}
@keyframes change{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}
.wrapper i{
	font-size:35px;
}
.box-1{
	text-align: center;
	border:1px solid white;
	width:30%;
	height: auto;
	margin-left: 35%;
	background: whitesmoke;
	padding: 25px 0 25px 0;
	border-radius: 4px;
	position: relative;

}

.box-1 h1{
	font-size: 40px;
	margin-bottom: 20px;
	text-align: left;
	margin-left: 30px;

}
.par-1{
	font-size: 20px;
	text-align: left;
	position: absolute;
	top: 40px;
	left: 340px;
	font-weight: bold;
}
#myList{
	text-align: left;
	padding: 30px 25px 30px 25px; 
	margin-left: 25px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

.box-1 h2{
	font-size: 30px;
	text-align: left;
	padding-left: 10px;
}
.box-1 input[type="text"], .box-1 textarea{
	font-size: 15px;
	padding: 15px;
	border-radius: 2px;
	border: 2px solid mintcream;
	outline: none;
	width: 62%;
	font-family: 'Arimo';
}

.box-2{
	background-color: grey;
	margin: 20px 35px 0px 35px;
	padding-bottom: 40px;
	padding-top: 15px;
	position: relative;
	word-wrap: break-word;
}
#addbutton{
	background: #76eec6;
	border:1px solid #AAF0D1;
	border-radius: 3px;
	padding: 2.5% 9%;
	font-size:20px;
	cursor: pointer;
	color:white;
	outline: none;
	transition: 0.8s;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}
.box-3{
	margin-top: 20px;
}


#removebutton{
	background: #76eec6;
	border:1px solid #AAF0D1;
	padding: 3% 13% ;
	font-size: 20px;
	border-radius: 3px;
	cursor: pointer; 
	margin-right: 1.5%;
	color:white;	
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	transition: 0.8s;
}
#removebutton:hover, #clear:hover, #addbutton:hover{
	background: #AAF0D1;
	color: green;
}

#clear{
	background: #76eec6;
	border:1px solid #AAF0D1;
	padding: 3% 13% ;
	font-size: 20px;
	border-radius: 3px;
	cursor: pointer;
	color:white;
	margin-left: 1.5%;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	transition: 0.8s;
}

.my-footer{
	margin-top: 25px;
	font-weight: bold;
}
.checked{
	text-decoration: line-through;
	color:#AAF0D1;

}
